* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(images/pattern-background-desktop.svg);
}

img {
  border-radius: 10px;
}

figure {
  margin: auto;
  width: 30%;
  border: 3px solid green;
  padding-bottom: 100px;
  background-color: white;
  border-radius: 10px;
}

main {
  /* background-image: url(images/pattern-background-desktop.svg); */
  padding-top: 150px;
}

img {
  border-radius: 20px;
  padding-top: 50px;
}
